// General classes
// ===============

// Reponsive media
// ---------------

.fluid
  max-width 100%
  height auto

.full
  width 100%
  height auto

.fluid-video
  position relative
  padding-bottom 56.25%
  padding-top 25px
  height 0
  iframe
    position absolute
    top 0
    left 0
    size 100%

// Display and Positioning
// -----------------------

.block
  display block

.inline-block
  display inline-block

.inline
  display inline

.relative
  position relative

.absolute
  position absolute

.static
  position relative

.height-inherit
  height inherit

.none
  display none

// Floating
// --------

.float-right
  float right

.float-left
  float left

$clearfix
  clearfix()

.clearfix
  @extend $clearfix

.clear-both
  clear both


// Alignment
// ---------

.text-left
  text-align left

.text-right
  text-align right

.text-center
  text-align center

.align-middle
  display table-cell
  vertical-align middle
