// =============================================================================
// Helpers
// -----------------------------------------------------------------------------
// http://rscss.io/helpers.html
//
// OBS:
// In this file, the helpers can have more than one word, separated by dashes.
// However, like RSCSS recomendation, we start the helpers with an underscore.
// =============================================================================


// Responsive utilities
// --------------------

._fluid
  max-width 100%
  height auto

._full
  width 100%
  height auto


// Alignment utilities
// -------------------

._block-center
  display block
  margin-left auto
  margin-right auto

._align-middle
  display table-cell
  vertical-align middle

._text-center
  text-align center !important

._text-right
  text-align right !important

._text-left
  text-align left !important


// Display
// -------

._display-inline,
._inline
  display inline !important

._display-block,
._block
  display block !important

._display-inline-block,
._inline-block
  display inline-block !important

._display-none,
._none
  display none !important


// Floating
// --------

._clearfix
  clearfix()

._float-left
  float left !important

._float-right
  float right !important

._float-none
  float none !important

._clear-both
  clear both !important


// Positioning
// -----------

._position-relative
  position relative !important

._position-absolute
  position absolute !important

._position-static
  position static !important

._overflow-hidden
  overflow hidden !important

._overflow-auto
  overflow auto !important


// Texts
// -----

._text-bold
  font-weight bold !important

._text-italic
  font-style italic !important

._text-normal
  font-style normal !important

._text-uppercase
  text-transform uppercase !important


// Visibility helpers
// ------------------

._sr-only
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0, 0, 0, 0)
  border 0

._visibility-hidden,
._hidden
  visibility hidden !important


// Generic helpers
// ---------------

._height-inherit
  height inherit !important

._unmargin
  margin 0 !important

._unpading
  padding 0 !important
