/**
 * Index.styl
 *
 * Import all .styl needed for the project.
 */

// Settings
// --------

$IMG-PATH = '../img/'
$FONT-PATH = '../fonts/'

// Mixins
// ------

@require 'nib'
@require 'jeet'
@require 'rupture'
@require 'mixins-stylus'

// Modules
// -------

normalize-css()

@import 'vendor/icons'

@import 'modules/classes'

@import 'modules/base'

@import 'modules/browserupgrade'

// @import 'vendor/slick'
// @import 'vendor/social-likes.css'
