/**
 * Index.styl
 *
 * Import all .styl needed for the project.
 */

/**
 * Mixins
 */

$fa-font-path = '../fonts/'

@require 'nib'
@require 'jeet'
@require 'rupture'
@require 'mixins-stylus'
@require 'font-awesome-stylus/stylus'

/**
 * Modules
 */

normalize-css()

@import 'modules/base'
