/**
 * Index.styl
 *
 * Import all .styl needed for the project.
 */

/**
 * Mixins
 */

$fa-font-path = '../fonts/'

@require 'nib'
@require 'jeet'
@require 'rupture'
@require 'stylus-triangle'
@require 'font-awesome-stylus/stylus'

/**
 * Modules
 */

@require 'stylus-normalize/normalize'
